version: '3'

services:
  web:
    image: nginx:latest
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '80:80'
    volumes:
      - ./dist:/usr/share/nginx/html:ro
    networks: 
      - webnet
networks: 
  webnet: